{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon: favicon_IC.png -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/favicon_IC.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon_IC.png"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon_IC.png"/>
<meta name="theme-color" content="#ffffff"/>
<meta property="og:image" content="{{ base_path }}/images/favicon_IC_reduced.png"/>


<!-- end custom head snippets -->
